.carts-containers {
  width: 95%;
  height: 85vh;

  margin: auto;
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 11px;
}
.cart-data {
}
.cart-summary {
  height: 300px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.cart-summary > div:nth-child(1) {
  height: 250px;
  box-shadow: 0 0 10px black;
}
.cart-summary > div:nth-child(2) {
  margin-top: 20px;
}
